

<h2>Welcome <%= @volunteer.firstname %>!</h2>
<br>



First Name: <%= @volunteer.firstname %><br><br>
Last Name: <%= @volunteer.lastname %><br>
<br>
Pronouns: <%= @volunteer.pronouns %><br>
<br>
Email: <%= @volunteer.email %><br>
<br>
<br>
<h4>Your Projects:</h4>
<br>
<% unless @projects.empty? %>
<%@projects.each do |project|%>
Name: <%=project.name%> <br>
Date: <%=project.date%> <br>
<form method='post' action="/projects/<%= project.id %>">
 <input type='submit' value='More Info'>
 </form>
<br>

<%end%>
<%else%>
 There are no projects to display. 
<%end%>
<br>
<br>
