<h1>This is the volunteer's specific home page </h1>

<h3>Welcome <%= @volunteer.firstname %></h3>
<br>



<%= @volunteer.firstname %>
<%= @volunteer.lastname %>
<br>
<%= @volunteer.pronouns %>
<br>
<%= @volunteer.email %>
<br>

##we want to show all of volunteer's projects here 

<br>
<br>
<a href='/projects/show'>See All Projects Here</a>