<h2>Project Dashboard</h2>
<br>
<h2><%= @project.name %> </h2>

<h3>Current Status</h3>

<div class='input-wrapper'>
Created By: <%= @project.creator.firstname %>

<div class='input-wrapper'>
<label for='project-date'>Project Date: </label>
<%= @project.date%>
</div>

<div class='input-wrapper'>
<label for='project-date'>Time: </label>
<%= @project.time%>
</div>

<div class='input-wrapper'>
<label for='project-description'>Project Description: </label>
<%= @project.description%>
</div>

<div class='input-wrapper'>
<label for='project-role'>Project Role: </label>
<%= @project.role %>
</div>

<div class='input-wrapper'>
<label for='project-assigned-volunteers'>Assigned Volunteers: </label>
<%= @project.assigned %>
</div>

<div class='input-wrapper'>
<label for='project-duration'>Duration (hours): </label>
<%= @project.number_of_hours %>  
</div>

<div class='input-wrapper'>
<label for='project-completed'>Completed: </label>
 <%= @project.completed %> 
</div>

<% unless current_user.projects.include?(@project)%>
<form method='post' action="/projects/<%= @project.id %>/signup">
 <input type='submit' value='Sign Up'>
 </form>
<%end %>


<%if current_user.id == @project.volunteer_id%>
<br>
<a href="/projects/<%=@project.id%>/edit">Edit Project</a>
<br>
<br>
<form method='post' action="/projects/<%=@project.id%>">
<input type='hidden' name='_method' value='DELETE' >
<input type='submit' value='Delete Project'>
<%end %>

Current Volunteers: 

<% @project.volunteers.each do |volunteer| %>
    <%= volunteer.firstname %>
<%end%>
