<h1><%= @projects.name %> Dashboard </h1>

<h3>Current Status</h3>
Role: <%= @projects.role %>
<br>
Assinged: <%= @projects.assigned %>
<br>
Duration of event: <%= @projects.number_of_hours %> hours
<br>
Completed: <%= @projects.completed %>