<h2>Project Dashboard</h2>
<br>
<h2><%= @projects.name %> </h2>

<h3>Current Status</h3>
Made by: <%= %>
Date: <%= @projects.date%>
<br>
Time: <%= @projects.time%>
<br>
Role: <%= @projects.role %>
<br>
Assigned: <%= @projects.assigned %>
<br>
Duration of event: <%= @projects.number_of_hours %> hours
<br>
Completed: <%= @projects.completed %>
<br>


<%if current_user.id == @projects.volunteer_id%>
<a href="/projects/<%=@projects.id%>/edit">Edit Project</a>
<br>
<br>
<form method='post' action="/projects/<%=@projects.id%>">
<input type='hidden' name='_method' value='DELETE' >
<input type='submit' value='Delete Project'>
<%end %>

