<h2>Project Dashboard</h2>
<br>
<h2><%= @project.name %> </h2>

<h3>Current Status</h3>

<p>Created By: <%= @project.creator.firstname %></p>

<p>Date: <%= @project.date%></p>

<p>Time: <%= @project.time%></p>

<p>Description: <%= @project.description%></p>

<p>Role: <%= @project.role %></p>

<p>Assigned: <%= @project.assigned %></p>

<p>Duration of event: <%= @project.number_of_hours %> hours 

<p>Completed: <%= @project.completed %>

<form method='post' action="/projects/<%= @project.id %>/signup">
 <input type='submit' value='Sign Up'>
 </form>


<%if current_user.id == @project.volunteer_id%>
<br>
<a href="/projects/<%=@project.id%>/edit">Edit Project</a>
<br>
<br>
<form method='post' action="/projects/<%=@project.id%>">
<input type='hidden' name='_method' value='DELETE' >
<input type='submit' value='Delete Project'>
<%end %>

