<h2>Project Dashboard</h2>
<br>
<h2><%= @projects.name %> </h2>

<h3>Current Status</h3>
Date: <%= @projects.date%>
<br>
Time: <%= @projects.time%>
<br>
Role: <%= @projects.role %>
<br>
Assigned: <%= @projects.assigned %>
<br>
Duration of event: <%= @projects.number_of_hours %> hours
<br>
Completed: <%= @projects.completed %>
<br>


<%if current_user.id == @projects.id%>
<a href="/projects/<%=@projects.id%>/edit">Edit Project</a>
<br>
<br>
<%end %>

